
      .password-form {
        display: flex;
        flex-direction: column;
      }
      .input-wrapper {
        position: relative;
				width: 200px;
			 
      }

      .input-wrapper input {
        min-width: 120px;
        padding: 10px;
        margin-bottom: 24px;
      }

      .input-wrapper i {
        position: absolute;
        right: 25px;
        top: 30px;
        color: grey;
      }

			.btn{
				width: 150px;
			}
      .fas.fa-eye.icon-password{
        cursor: pointer;
      }
      .fas.fa-eye.icon-password::after {
position: absolute;
content: '';
top: 7px;
right: -2px;
width: 24px;
height: 2px;
background-color: grey;
transform: rotate(45deg);
transition: .3s all ease;
opacity: 1;
}
.fas.fa-eye.icon-password.active::after{
 opacity: 0;
}
.warning{
  color:red;
  font-size: 12px;
}